#container{
    /* margin: auto; */
    /* width: 80%; */
    display: flex;
    margin: 70px 40px 50px 30px;
   }
   #category{
      display: flex;
      /* justify-content: space-between; */
      margin-left: 100px;
   }
   #Moist{
     /* margin: auto; */
     display: flex;
     margin-left: 100px;
     text-align: center;
   }
   #Moist>div{
    text-align: center;
   }
   /* #Moist>div{
     border: 1px solid red;
     width: 100%;
     margin: auto;
   } */
   #Treat{
     /* margin: auto; */
     display: flex;
     margin-left: 100px;
   }
   #Treat>div{
    margin: auto;
   }
   #real{
    /* margin: auto; */
    display: flex;
    margin-left: 100px;
    margin-bottom: 40px;
   }
   #para-2{
    /* margin: auto; */
    display: flex;
    margin-left: 100px;
   }

   #para-1{
    margin-left: 100px;
   }
   #sidebar{
    margin-left: 50px;
   }
   #sideTop{
    width: 200px;
   }
   #HomePage{
    margin: auto;
   }
   #para-4{
     margin-left: 100px;
   }
   #HomePage{
    margin-right: 50px;
   }
   .vl {
    border-left: 3px solid gray;
    height: 3400px;
    position: absolute;
    left: 28%;
    margin-left: -3px;
    top: 80px;
    }
   .checked {
          color: orange;
    }